$color-primary: #f9ed69; // Yellow
$color-secondary: #f08a5d; // Orange
$color-tertiary: #b83b5e; //pink
$color-text-dark: #333;
$color-text-light: #eee;
$color-black: #000;
$color-white: #fff;
$color-grey: #777;